body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.page-container{
	padding-top: 25px;
}
.table{margin-bottom: 0px;}
.table .avatar > img{
	width: 40px; height: 40px;
}

.panel-body{padding:8px;}
.panel-body .avatar, .panel-body .avatar img{
	width: 75px; height: 75px; float: left;
}

.panel-body .caption{
	float: left;
	margin-left:10px;
}

.number-counter{
	font-size: 12px;
	color: gray;
}